<div class="edit-modal">
  <form method="POST">
  <div id="top-content">
    <img src="https://i.pravatar.cc/150?img=59" alt="placeholder image for user">
    <input type="text" name="title" placeholder="TITLE">
    <input type="text" name="publisher" placeholder="PUBLISHER">
    <input type="text" name="author" placeholder="AUTHOR">
    <input type="date" name="publication-date">
    <input type="text" name="isbn" placeholder="ISBN">
    <input type="text" name="genre" placeholder="GENRE">
  </div>
  <div id="bottom-content">
    <input type="number" name="copies" placeholder="NO. COPIES">
    <input type="text" name="available" placeholder="AVAILABLE">
    <input type="date" name="acquisition-date">
  </div>
    <input type="submit" value="SAVE EDITS">
  </form>
</div>
