<div class="modal">
  <a href="" class="close">X</a>
  <h2>ADD BOOK</h2>
  <form method="POST">
    <input type="text" name="title" placeholder="TITLE">
    <input type="number" name="copies" placeholder="NO. COPIES">
    <input type="text" name="author" placeholder="AUTHOR">
    <input type="text" name="available" placeholder="AVAILABLE">
    <input type="text" name="isbn" placeholder="ISBN">
    <input type="text" name="publisher" placeholder="PUBLISHER">
    <input type="text" name="genre" placeholder="GENRE">
    <div class="dashboard-row-items">
        <div class="form-items">
          <label for="publication-date">PUBLICATION DATE</label>
          <input type="date" name="publication-date" id="publication-date">
        </div>
        <div class="form-items">
          <label for="acquisition-date">ACQUISITION DATE</label>
          <input type="date" name="acquisition-date" id="acquisition-date">
        </div>
      </div>
    <input type="file" name="book-cover-photo" id="book-cover-photo" hidden>
    <label id="book-cover-upload" for="book-cover-photo">UPLOAD COVER IMAGE</label>
    <input type="submit" value="SAVE">
  </form>
</div>
