<div class="modal">
  <div id="top-content">
    <img src="https://i.pravatar.cc/150?img=59" alt="placeholder image for user">
    <label>TITLE</label>
    <input type="text" name="title" value="TITLE">
    <input type="text" name="genre" value="GENRE">
    <label>AUTHOR</label>
    <input type="text" name="author" value="AUTHOR">
    <label>PUBLISHER</label>
    <input type="text" name="publisher" value="PUBLISHER">
    <label>ISBN</label>
    <input type="text" name="isbn" value="ISBN">
    <label>PUBLICATION DATE</label>
    <input type="date" name="publication-date">
  </div>
  <div id="bottom-content">
    <p>LIBRARY ITEM DETAILS</p>
    <label>NO. COPIES</label>
    <input type="number" name="copies" placeholder="0">
    <label>AVAILABLE</label>
    <input type="text" name="available" placeholder="NO">
    <label>ACQUISTION DATE</label>
    <input type="date" name="acquisition-date">
    <button>[X] CLOSE</button>
  </div>
</div>
