<div class="catalog-container">
<%= erb :'admin/partials/menu' %>
  <h2>CATALOG</h2>
  <div class="catalog-card">
    <header>
      <h2>BOOK MANAGEMENT</h2>
      <select name="book-filter">
        <option value="titles">TITLES</option>
        <option value="author">AUTHOR</option>
       <option value="published">PUBLISHED</option>
       <option value="available">AVAILABLE</option>
      </select>
      <input type="text" name="search" placeholder="SEARCH">
      <button>&plus; ADD BOOK</button>
    </header>
  <div id="catalog">
    <header>
      <ul>
        <li>ID</li>
        <li>TITLE</li>
        <li>AUTHOR</li>
        <li>ISBN</li>
        <li>GENRE</li>
        <li>PUBLISHER</li>
        <li>PUBLICATION DATE</li>
        <li>NO. COPIES</li>
        <li>AVAILABLE</li>
        <li>ASSISTED BY</li>
      </ul>
    </header>
    <p>NO TITLES ADDED</p>
    <div class="">
     <ul>
       <li>
        <div
           hx-trigger="click"
           hx-get="/admin/catalog/view/?user=1"
           hx-target="#overlay"
           hx-swap="beforeend"
           class="modal-button">
           VIEW
         </div>
       </li>
       <li>
         <div
           hx-trigger="click"
           hx-get="/admin/catalog/edit/?user=1"
           hx-target="#overlay"
           hx-swap="beforeend"
           class="modal-button">
           EDIT
        </div>
       </li>
       <li>
         <div
           hx-trigger="click"
           hx-get="/admin/catalog/delete/?user=1"
           hx-target="#overlay"
           hx-swap="beforeend"
           class="modal-button">
           DELETE
         </div>
       </li>
     </ul>
    </div
  </div>
 </div>
</div>
<div id="overlay"></div>
