<div class="desk-container">
 <%= erb :'admin/partials/menu' %>
 <h2>DESK</h2>
 <section><%= erb :'admin/partials/stats' %><section>
 <div class="admin-staff-card">
   <header>
     <h2>Staff management</h2>
     <input type="text" name="search" placeholder="SEARCH">
     <button
        class="modal-button"
        hx-target="#overlay"
        hx-get="/admin/staff/new"
        hx-swap="beforeend">
        &plus; ADD STAFF MEMBER
    </button>
   </header>
   <div class="staff-members">
    <p>You have not added any staff members</p>
    <ul>
      <li>
       <div
          hx-trigger="click"
          hx-get="/admin/desk/view/?user=1"
          hx-target="#overlay"
          hx-swap="beforeend"
          class="modal-button">
          VIEW
        </div>
      </li>
      <li>
        <div
          hx-trigger="click"
          hx-get="/admin/desk/edit/?user=1"
          hx-target="#overlay"
          hx-swap="beforeend"
          class="modal-button">
          EDIT
       </div>
      </li>
      <li>
        <div
          hx-trigger="click"
          hx-get="/admin/desk/delete/?user=1"
          hx-target="#overlay"
          hx-swap="beforeend"
          class="modal-button">
          DELETE
        </div>
      </li>
    </ul>
   </div>
 </div>
 </section>
</div>
<div id="overlay"></div>
