<div class="desk-container">
 <%= erb :'admin/partials/menu' %>
 <h2>DESK</h2>
 <section><%= erb :'admin/partials/stats' %><section>
 <div class="admin-staff-card">
   <header>
     <h2>Staff management</h2>
     <div>
     <input type="text" name="search" placeholder="SEARCH">
     <button
        class="modal-button"
        hx-target="#overlay"
        hx-get="/admin/staff/new"
        hx-swap="beforeend">
        &plus; ADD STAFF MEMBER
    </button>
    </div>
   </header>
   <div class="staff-members">
    <p>You have not added any staff members</p>
   </div>
 </div>
 </section>
</div>
<div id="overlay"></div>
