<div class="signin">
 <h2>ADD LIBRARY</h2>
 <form method="POST">
   <input type="text" name="name" placeholder="NAME" required>
   <input type="text" name="address" placeholder="ADDRESS" required>
   <input type="text" name="city" placeholder="CITY" required>
   <input type="text" name="state" placeholder="STATE" required>
   <input type="text" name="zip" placeholder="ZIP" required>
   <input type="date" name="established_date" placeholder="ESTABLISHED DATE" required>
   <input type="submit" value="REGISTER">
 </form>
</div>
