<nav>
  <menu>
    <li><a href="{{ url_for('catalog') }}">+ CATALOG</a></li>
    <li><a href="{{ url_for('favorites') }}">FAVORITES</a></li>
    <li><a href="{{ url_for('messages') }}">MESSAGES</a></li>
    <li><a href="{{ url_for('settings') }}">SETTINGS</a></li>
    <li><a href="{{ url_for('signout') }}">SIGN OUT</a></li>
  </menu>
<nav>
