<div class="patrons-container">
<nav class="patrons-menu">
  <menu>
    <li><a href="{{ url_for('catalog') }}"><i class="fa-solid fa-book-open"></i></a></li>
    <li><a href="{{ url_for('favorites') }}"><i class="fa-solid fa-bookmark"></i></a></li>
    <li><a href="{{ url_for('messages') }}"><i class="fa-solid fa-envelope"></i></a></li>
    <li><a href="{{ url_for('settings') }}"><i class="fa-solid fa-gear"></i></a></li>
    <li><a href="{{ url_for('reservation') }}"><i class="fa-solid fa-calendar-check"></i></a></li>
    <li><a href="{{ url_for('signout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
  </menu>
</nav>
