<div class="badge-card">
  <img src="https://i.pravatar.cc/150?img=59" alt="placeholder image for user">
  <p>Name here</p>
 <ul>
   <li>DATE REGISTERED: 1/2/2024</li>
   <li>CHECK OUTS: 2</li>
   <li>FINES: 0</li>
   <li>LATE RETURNS: 0</li>
   <li>ACTIVE: YES</li>
   <li>Last Active: 09/20/2025</li>
 </ul>
</div>
