<div id="history-card">
  <header>
     <h2>HISTORY</h2>
     <menu>
       <li><button>FINES</button></li>
       <li><button>RESERVATIONS</button></li>
       <li><button>CHECKOUTS</button></li>
     </menu>
     <input type="text" name="search" placeholder="SEARCH">
  </header>
  <div id="history">
    <header>
      <ul>
        <li>TITLE</li>
        <li>AUTHOR</li>
        <li>GENRE</li>
        <li>CHECKOUT DATE</li>
        <li>RETURN DATE</li>
        <li>RESERVED</li>
        <li>ASSISTED BY</li>
      </ul>
    </header>
    <p>NO ITEMS AVAILABLE</p>
  </div>
</div>
