<div class="signin">
 <h2>FORGOT PASSWORD</h2>
 <form method="POST">
   <input type="email" name="email" placeholder="E-MAIL" required>
   <input type="submit" value="RESET PASSWORD">
 </form>
</div>
