
<div class="register">
 <h2>CREATE ACCOUNT</h2>
 <form method="POST">
   <input type="text" name="first_name" placeholder="FIRST NAME" required>
   <input type="text" name="last_name" placeholder="LAST NAME" required>
   <input type="text" name="username" placeholder="USERNAME" required>
   <input type="email" name="email" placeholder="E-MAIL" required>
   <input type="password" name="password" placeholder="PASSWORD" required>
   <input type="password" name="confirm_password" placeholder="CONFIRM PASSWORD" required>
   <input type="submit" value="REGISTER">
 </form>
 <p>ALREADY HAVE AN ACCOUNT? <a href="">SIGN IN</a></p>
</div>
