<div class="signin">
 <h2>RESET PASSWORD</h2>
 <form method="POST">
   <input type="password" name="password" placeholder="NEW PASSWORD" required>
   <input type="password" name="confirm_password" placeholder="CONFIRM NEW PASSWORD" required>
   <input type="submit" value="RESET PASSWORD">
 </form>
</div>
