* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

:root {
  --backgroundColor: #F4F1EB;
  --cardBackground: #fff;
  --signinButtonColor: #F0ECE7;
  --formFieldTextColor: #4D4D4D;
  --formFieldBorderColor: #E4E4E4;
  --accentColor: #333;

  --dashboardStatsBackground: var(--formFieldBorderColor);
  --dashboardStatsBorder: rgba(219,219,219,0.2);
  --dashboardStatsHeader: 300 0.8em "Cousine", sans-serif;
  --dashboardStatsHeaderColor: #000;
  --dashboardStatsColor: var(--accentColor);
  --dashboardStats: 700 1em "Cousine", sans-serif;

  --darkGrayCardColor: var(--accentColor);
  --darkGrayCardPrimaryColor: var(--backgroundColor);
  --darkGrayCardSecondaryColor: #EEE9CC;
  --darkGrayCardBorder: 0.1px dashed var(--dashboardStatsBorder);
  --darkGrayCardLgHeading: 300 1em "Cousine", sans-serif;
  --darkGrayCardHeading: 300 0.9em "Cousine", sans-serif;
  --darkGrayCardFilterColor: var(--darkGrayCardSecondaryColor);
  --darkGrayCardFilter: 300 0.8em "Cousine", sans-serif;
  --darkGrayCardListItem: 300 0.9em "Cousine", sans-serif;
  --darkGrayCardSub: 300 0.7em "Cousine", sans-serif;

  --mainCardColor: #4D4D4D;
  --mainCardBorder: var(--dashboardStatsBorder);
  --mainCardPrimaryColor: var(--formFieldBorderColor);
  --mainCardSecondaryColor: var(--darkGrayCardSecondaryColor);
  --mainCardHeading: var(--darkGrayCardHeading);
  --mainCardListItem: var(--darkGrayCardListItem);
  --mainCardSub: var(--darkGrayCardSub);
  --mainCardListItemBorder: var(--dashboardStatsBorder);

  --footerCardColor: #000;
  --footerCardBorder: var(--dashboardStatsBorder);
  --footerCardPrimaryColor: var(--dashboardStatsBorder);
  --footerCardSecondaryColor: var(--backgroundColor);
  --footerCardHeading: var(--mainCardHeading);
  --footerCardMenu: var(--mainCardListItem);
  --footerCardHeader: var(--mainCardListItem);
  --footerCardListItem: var(--mainCardListItem);
  --footerCardSub: var(--mainCardSub);
}




.library-reports {
  background: var(--footerCardColor);
  width: 95%;
  height: 170px;
  border-radius: 15px;
  padding: 25px;
}

.library-reports h2 {
  font: var(--darkGrayCardHeading);
  color: var( --darkGrayCardSecondaryColor);
  padding: 0;
  margin-top: 15px;
}

.library-reports p {
  font: 100 0.7em "Cousine", sans-serif;
  color: #F4F1EB;
  margin: 15px 0 15px 15px;
  padding-bottom: 10px;
  border-bottom: var(--darkGrayCardBorder);
}.library-reports {
  background: var(--footerCardColor);
  width: 95%;
  height: 170px;
  border-radius: 15px;
  padding: 25px;
}

.library-reports h2 {
  font: var(--darkGrayCardHeading);
  color: var( --darkGrayCardSecondaryColor);
  padding: 0;
  margin-top: 15px;
}

.library-reports p {
  font: 100 0.7em "Cousine", sans-serif;
  color: #F4F1EB;
  margin: 15px 0 15px 15px;
  padding-bottom: 10px;
  border-bottom: var(--darkGrayCardBorder);
}














body {
  background: var(--backgroundColor);
}

header{
  width: 40%;
  height: 50px;
  margin: 25px 0 0 25px;
}

h1 a {
  font: 900 0.7em "Alexandria", sans-serif;
  color: #000;
  text-decoration: none;
}

/* Register and Sign in  */

.register,
.signin
{
   background: var(--cardBackground);
   border-radius: 25px;
   width: 25%;
   height: 29em;
   margin: 3% auto 0 auto;
   padding: 25px;
}

.register h2,
.signin h2 {
  font: var(--darkGrayCardHeading);
  font-weight: 900;
  color: var(--accentColor);
  margin: 25px 0 5px 15px;
}

.register p,
.signin p
{
  font: 100 0.6em "Cousine", sans-serif;
  margin-top: 65px;
  text-align: center;
}

.register a,
.signin p a
{
  font: 900 1em "Cousine", sans-serif;
  color: #333;
  margin-left: 3px;
}

.register form,
.signin form,
.modal form
{
  padding: 15px;
}

.register form input[type='text']::placeholder,
.register form input[type='email']::placeholder,
.register form input[type='password']::placeholder,
.signin form input[type='text']::placeholder,
.signin form input[type='email']::placeholder,
.signin form input[type='password']::placeholder,
.modal form input[type='text']::placeholder,
.modal form input[type='email']::placeholder,
.modal form input[type='password']::placeholder
{
  font: 300 0.8em "Cousine", sans-serif;
  padding-left: 2px;
  position: relative;
  top: -7px;
}

.register form input[type='text'],
.register form input[type='email'],
.register form input[type='password'],
.signin form input[type='text'],
.signin form input[type='email'],
.signin form input[type='password'],
.modal form input[type='text'],
.modal form input[type='email'],
.modal form input[type='password']
{
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  font: var(--darkGrayCardSub);
  padding-left: 3px;
  outline: transparent;
}

.register form input[type='submit'],
.signin form input[type='submit'],
.modal input[type='submit']
{
  width: 45%;
  height: 40px;
  float: right;
  background: #F0ECE7;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  font: 300 0.8em "Cousine", sans-serif;
  line-height: 3.4em;
  cursor: pointer;
}

/* Sign in  */

.signin {
  height: 17em;
}

.signin a {
  font: 900 0.7em "Cousine", sans-serif;
  color: #333;
}

.signin p {
  font: 100 0.6em "Cousine", sans-serif;
  margin-top: 65px;
}

.signin form input[type='submit'] {
  margin-top: 10px;
}

/* Forgot password  */





/* Admin dashboard  */

nav {
  position: absolute;
  top: 40px;
  right: 5px;
}

nav menu li {
  display: inline;
  list-style-type: none;
  padding-right: 30px;
  font: var(--dashboardStatsHeader);
}

nav menu li a {
  color: var(--darkGrayCardColor);
  text-decoration: none;
}

.dashboard {
  width: 65%;
  margin: 0 auto;
}

.dashboard h2 {
  font: var(--darkGrayCardLgHeading);
  font-weight: 900;
  color: var(--accentColor);
  margin: 50px 0 5px 15px;
}

.dashboard-stats {
  width: 100%;
  height: 55px;
  background: var(--dashboardStatsBackground);
  border: var(--dashboardStatsBorder);
  border-radius: 15px;
  margin: 20px auto 0 auto;
}

.dashboard-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 55px;
}

.dashboard-stats p {
  font: 300 0.8em "Cousine", sans-serif;
  text-align: center;
}

.dashboard-stats p:nth-last-child(odd) {
  font: 900 1em "Cousine", sans-serif;
  text-align: center;
}

.popular-items {
  background: var(--darkGrayCardColor);
  border: 1px solid var(--darkGrayCardColor);
  width: 30%;
  height: 16em;
  border-radius: 15px;
  margin: 15px 0;
}

.popular-items header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 25px;
  padding: 25px 5px 5px 0;
}

.popular-items header h2 {
  font: var(--darkGrayCardFilter);
  color: var( --darkGrayCardSecondaryColor);
  padding: 0;
  margin: 0;
  line-height: 1.6em;
}

.popular-items select {
  width: 120px;
  height: 20px;
  background: var(--darkGrayCardColor);
  color: var(--darkGrayCardFilterColor);
  font: var(--darkGrayCardFilter);
  border: 1px solid var(--darkGrayCardSecondaryColor);
  border-radius: 5px;
  margin: 0 10px;
  padding: 2px 3px;
}

.popular-items .popular-item-list {
  width: 85%;
  margin: 10px auto 0 auto;
  border-bottom: var(--darkGrayCardBorder);
}

.popular-items .popular-item-list p {
  font: 100 0.7em "Cousine", sans-serif;
  color: #F4F1EB;
  padding-bottom: 2px;
}

.dashboard-row-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.notifications {
  background: var(--mainCardColor);
  width: 65%;
  height: 13em;
  border-radius: 15px;
  margin: 15px 0 15px 35px;
  padding: 25px;
}

.notifications h2 {
  font: var(--darkGrayCardHeading);
  color: var( --darkGrayCardSecondaryColor);
  padding: 0;
  margin: 20px 0 0 0;
}

.notifications p {
  font: 100 0.7em "Cousine", sans-serif;
  color: #F4F1EB;
  padding-bottom: 10px;
  margin-top: 15px;
  border-bottom: var(--darkGrayCardBorder);
}

.library-reports {
  background: var(--footerCardColor);
  width: 95%;
  height: 170px;
  border-radius: 15px;
  padding: 25px;
}

.library-reports h2 {
  font: var(--darkGrayCardHeading);
  color: var( --darkGrayCardSecondaryColor);
  padding: 0;
  margin-top: 15px;
}

.library-reports p {
  font: 100 0.7em "Cousine", sans-serif;
  color: #F4F1EB;
  margin: 15px 0 15px 15px;
  padding-bottom: 10px;
  border-bottom: var(--darkGrayCardBorder);
}

/* Catalog */

.catalog-container {
  width: 65%;
  margin: 5% auto 0 auto;
}

.catalog-container h2 {
  font: var(--darkGrayCardLgHeading);
  font-weight: 900;
  color: var(--accentColor);
  margin: 15px 0 25px 5px;
}
rgba(219,219,219,0.2);
.catalog-card {
  background: var(--footerCardColor);
  width: 100%;
  height: 350px;
  border-radius: 25px;
  padding: 25px;
  margin: 0 auto;
}

.catalog-card .top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 25px 0 0 10px;
  padding: 0;
}

.catalog-card header div {
  width: 45%;
}

.catalog-card h2 {
  font: var(--darkGrayCardLgHeading);
  color: var( --darkGrayCardSecondaryColor);
  width: 25%;
  padding: 0;
  margin: 10px 0 0 0;
}

.catalog-card select {
  width: 150px;
  height: 20px;
  color:#EEE9CC;
  background: #000;
  border: 1px solid var(--darkGrayCardSecondaryColor);
  margin: 0 5px 0 0;
  border-radius: 5px;
}

.catalog-card input::placeholder {
  color:#EEE9CC;
  padding-left: 2px;
}

.catalog-card input {
  width: 150px;
  height: 20px;
  color:#EEE9CC;
  background: #000;
  border: 1px solid var(--darkGrayCardSecondaryColor);
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.catalog-card button {
  background: #EEE9CC;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

#catalog {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

#catalog .bottom-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 35px 0 0 0;
  padding: 0;
}

#catalog header {
  width: 100%;
  height: 25px;
}

#catalog header ul li {
  display: inline;
  list-style-type: none;
  color: var(--darkGrayCardPrimaryColor);
  font: var(--darkGrayCardFilter);
  font-weight: 600;
  padding-right: 35px;
}

#catalog p {
  padding: 10px 0;
  font: var(--darkGrayCardSub);
  color: var(--mainCardPrimaryColor);
  border-bottom: var(--darkGrayCardBorder);
  margin: 35px 0 0 15px;
}

/* Patrons */

.patron-container {
  width: 80%;
  margin: 5% auto 0 auto;
}

.patron-container h2 {
  font: var(--darkGrayCardLgHeading);
  font-weight: 900;
  color: var(--accentColor);
  margin: 15px 0 5px 15px;
}

.badge-card {
  background: #E4E4E4;
  border-radius: 25px;
  width: 25%;
  margin: 0 50px 0 0;
  padding: 25px;
}

.badge-card img {
  display: block;
  margin: 0 auto;
  width: 96px;
  height: 96px;
  border-radius: 50px;
  border: none;
}

.profile-switcher ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.profile-switcher ul li  {
  border-bottom: none !important;
}

.profile-switcher ul li a  {
  color: rgba(51,51,51,0.5);
  text-decoration: none;
  font: 500 2em "Cousine", sans-serif;
}

.badge-card p {
  font: var(--darkGrayCardLgHeading);
  color:#000;
  text-align: center;
  margin: 15px 0;
}

.badge-card ul li {
  font: var(--darkGrayCardFilter);
  color: #000;
  list-style-type: none;
  border-bottom: 1px dashed #333;
  padding: 10px 0;
}

.badge-card ul li:last-of-type {
  border-bottom: none;
}

#history-card {
  background: #000;
  border-radius: 25px;
  width: 85%;
  padding: 20px;
}

#history-card .top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 25px 0 0 10px;
  padding: 0;
}

#history-card .top-header h2 {
  color:  #EEE9CC;
  font-weight: 300;
  margin: 0 0 0 15px;
  padding: 0;
}

#history-card .top-header div {
  margin: 0 50px 0 0;
}

#history .bottom-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 25px 0 0 -35px;
  padding: 0;
}

#history-card select {
  font: var(--darkGrayCardFilter);
  color:#EEE9CC;
  border: 1px solid #EEE9CC;
  border-radius: 5px;
  background: #000;
  margin: 0 10px 0 0;
  width: 150px;
  height: 30px;
  cursor: pointer;
}

#history-card header input::placeholder {
  color:#EEE9CC;
  padding: 7px 0 0 5px;
}

#history-card header input {
  border: 1px solid #EEE9CC;
  background: #333;
  color:#EEE9CC;
  font: var(--darkGrayCardFilter);
  width: 150px;
  height: 28px;
  border-radius: 5px;
  outline: transparent;
  padding-left: 3px;
}

#history .bottom-header ul li {
  display: inline;
  color:  #fff;
  font: var(--darkGrayCardFilter);
  font-weight: 900;
  list-style-type: none;
  padding-right: 35px;
}

#history p {
  font: var(--darkGrayCardFilter);
  color:  #fff;
  width: 90%;
  margin: 10px 0 0 25px;
  padding: 5px 0;
  border-bottom: 1px dashed rgba(219,219,219,0.2);
}

/* Desk */

.desk-container {
  width: 65%;
  margin: 5% auto 0 auto;
}

.desk-container h2 {
  font: var(--darkGrayCardLgHeading);
  font-weight: 900;
  color: var(--accentColor);
  margin: 15px 0 5px 15px;
}

.dashboard-stat .dashboard-flex img {
  border-radius: 50px;
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.dashboard-stat .dashboard-flex   {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-left: 1px solid rgba(175,175,175, 0.4);
  width: 100%;
  padding: 0 95px 0 10px;
}

.dashboard-stat .dashboard-flex div p {
  font: 900 0.8em "Cousine", sans-serif;
  text-align: left;
  line-height: 1.9em;
}

.dashboard-stat .dashboard-flex div p:nth-last-child(odd) {
  font: 300 0.6em "Cousine", sans-serif;
  text-align: left;
}

.admin-staff-card {
  background: #000;
  border-radius: 25px;
  width: 96%;
  height: 200px;
  margin-top: 25px;
  padding: 20px;
}

.admin-staff-card header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
}

.admin-staff-card header div {
  width: 35%;
}

.admin-staff-card h2 {
  color:  #EEE9CC;
  font-weight: 300;
  margin: 5px 0 0 15px;
  padding: 0;
}

.admin-staff-card input::placeholder {
  color:#EEE9CC;
  padding-left: 2px;
}

.admin-staff-card input {
  width: 150px;
  height: 25px;
  color:#EEE9CC;
  background: #000;
  border: 1px solid var(--darkGrayCardSecondaryColor);
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.admin-staff-card button {
  background: #EEE9CC;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
  height: 25px;
}

.staff-members {
  margin-top: 25px;
}

.staff-members p {
  font: var(--darkGrayCardFilter);
  color:  #fff;
  width: 97%;
  margin: 10px 0 0 15px;
  padding: 5px 0;
  border-bottom: 1px dashed rgba(219,219,219,0.2);
}







/* Settings */

.settings h2 {
  font: var(--darkGrayCardLgHeading);
  font-weight: 900;
  color: var(--accentColor);
  margin: 0 0 0 15px;
}

.badge-card ul {
  width: 80%;
  margin: 0 auto;
}

#last-active {
  text-align: center;
  border-bottom: 1px dashed #333;
}

.profile-switcher h2 {
  text-align: center;
}

.profile-card {
  background: #000;
  border-radius: 25px;
  width: 55%;
  padding: 25px;
}

.profile-card form {
  width: 75%;
  margin: 10px auto 0 auto;
}

.profile-card h2 {
  color:  floralwhite;
  font-weight: 300;
  font: var(--darkGrayCardHeading);
  padding: 0;
  margin: 10px 0 0 65px;
  width: 75%;
}

.profile-card label {
  font: 100 0.6em "Cousine", sans-serif;
  color: #F4F1EB;
  margin-top: 15px;
}

.profile-card input[type='text']::placeholder,
.profile-card input[type='email']::placeholder,
.profile-card input[type='password']::placeholder {
  color:#EEE9CC;
  padding: 7px 0 0 5px;
}

.profile-card input[type='text'],
.profile-card input[type='email'],
.profile-card input[type='password']{
  border: 1px solid #EEE9CC;
  background: #333;
  color:#EEE9CC;
  font: var(--darkGrayCardFilter);
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: transparent;
  margin: 10px 0;
}

.profile-card input[type='submit']  {
  background: #EEE9CC;
  margin-top: 15px;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 35px;
  float: right;
}

#library-settings-card {
  background: #333;
  border-radius: 25px;
  width: 91.5%;
  height: 175px;
  margin-top: 25px;
  padding: 20px;
}

#library-settings-card h2 {
  color:  #EEE9CC;
  font-weight: 300;
  margin: 0 0 0 15px;
  padding: 0;
}

#library-settings-card label {
  font: 100 0.7em "Cousine", sans-serif;
  color: #F4F1EB;
  margin: 15px 0 15px 15px;
  padding-bottom: 10px;
}

#library-settings-card select {

}

#library-settings-card input[type='text'] {
  border: 1px solid #EEE9CC;
  background: #333;
  color:#EEE9CC;
  font: var(--darkGrayCardFilter);
  width: 20%;
  height: 30px;
  border-radius: 5px;
  outline: transparent;
  margin-right: 10px;
}

#library-settings-card input[type='file'] {

}

#library-settings-card input[type='submit']  {
    background: #EEE9CC;
    margin-top: 15px;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    float: right;
}
