{% extends 'base.j2' %}
{% block content %}
<nav>
  <menu>
    <li><a href="{{ url_for('library_catalog') }}">+ CATALOG</a></li>
    <li><a href="{{ url_for('library_patrons') }}">PATRONS</a></li>
    <li><a href="{{ url_for('library_staff') }}">STAFF</a></li>
    <li><a href="{{ url_for('staff_settings') }}">SETTINGS</a></li>
    <li><a href="{{ url_for('admin_signout') }}">SIGN OUT</a></li>
  </menu>
<nav>
<div class="dashboard">
   <h2>CATALOG</h2>
   <div class="catalog">
      <header>
        <h4>BOOK MANAGEMENT</h4>
      </header>
         <ul>
           <li>ID</li>
           <li>TITLE</li>
           <li>AUTHOR</li>
           <li>ISBN</li>
           <li>PUBLISHER</li>
           <li>PUBLICATION DATE</li>
           <li>NO. COPIES</li>
           <li>AVAILABLE</li>
           <li>GENRE</li>
           <li>ACQUISTION DATE</li>
        </ul>
        <ul>
          <li>23</li>
          <li><span class="status"></span>1984</li>
          <li>George Orwell</li>
          <li>978-0451524935</li>
          <li>Signet Classic</li>
          <li>1949/06/08</li>
          <li>1</li>
          <li>YES</li>
          <li>FANTASY</li>
          <li>01/12/18</li>
        </ul>
         <ul>
          <li>23</li>
          <li><span class="status"></span>1984</li>
          <li>George Orwell</li>
          <li>978-0451524935</li>
          <li>Signet Classic</li>
          <li>1949/06/08</li>
          <li>1</li>
          <li>YES</li>
          <li>FANTASY</li>
          <li>01/12/18</li>
        </ul>
        <ul>
          <li>23</li>
          <li><span class="status"></span>1984</li>
          <li>George Orwell</li>
          <li>978-0451524935</li>
          <li>Signet Classic</li>
          <li>1949/06/08</li>
          <li>1</li>
          <li>YES</li>
          <li>FANTASY</li>
          <li>01/12/18</li>
        </ul>
        <ul>
          <li>23</li>
          <li><span class="status"></span>1984</li>
          <li>George Orwell</li>
          <li>978-0451524935</li>
          <li>Signet Classic</li>
          <li>1949/06/08</li>
          <li>1</li>
          <li>YES</li>
          <li>FANTASY</li>
          <li>01/12/18</li>
        </ul>
        <ul>
          <li>23</li>
          <li><span class="status"></span>1984</li>
          <li>George Orwell</li>
          <li>978-0451524935</li>
          <li>Signet Classic</li>
          <li>1949/06/08</li>
          <li>1</li>
          <li>YES</li>
          <li>FANTASY</li>
          <li>01/12/18</li>
        </ul>
        <span><a href="">LOAD MORE &gt;&gt;</a></span>
   </div>
</div>
{% endblock %}
