{% extends 'base.j2' %}
{% block content %}
{% include 'staff/partials/menu.j2' %}
<div class="dashboard">
   <div class="row-content">
     <div class="left-card">
        <header>
          <span>STAFF</span>
          <ul>
            <li>STAFF MEMBERS<span>10</span></li>
            <li>SIGNED IN<span>4</span></li>
          </ul>
        </header>
        <div class="card-content">
            <div class="staff-member active">
               <div class="left-content">
                 <img src="{{ url_for('static', filename='images/staff/alicia.png') }}" alt="Staff member image">
               </div>
               <div class="right-content">
                 <span>BEN ATWELL</span>
                 <span>POSITION: LIBRARIAN</span>
                 <span>JOINED 07/22/2025</span>
               </div>
            </div>
           <div class="staff">
            <div class="staff-member">
               <div class="left-content">
                 <img src="{{ url_for('static', filename='profile/staff/img005.png') }}" alt="Staff member image">
               </div>
               <div class="right-content">
                 <span>BEN ATWELL</span>
                 <span>POSITION: LIBRARY DIRECTOR</span>
                 <span>JOINED 07/22/2025</span>
               </div>
            </div>

           <div class="staff-member">
               <div class="left-content">
                 <img src="{{ url_for('static', filename='profile/staff/img002.png') }}" alt="Staff member image">
               </div>
               <div class="right-content">
                 <span>BEN ATWELL</span>
                 <span>POSITION: LIBRARY TECHNICIAN</span>
                 <span>JOINED 07/22/2025</span>
               </div>
            </div>

            <div class="staff-member">
               <div class="left-content">
                 <img src="{{ url_for('static', filename='profile/staff/img003.png') }}" alt="Staff member image">
               </div>
               <div class="right-content">
                 <span>BEN ATWELL</span>
                 <span>POSITION: LIBRARY ASSISTANT</span>
                 <span>JOINED 07/22/2025</span>
               </div>
            </div>

            <div class="staff-member">
               <div class="left-content">
                 <img src="{{ url_for('static', filename='profile/staff/img004.png') }}" alt="Staff member image">
               </div>
               <div class="right-content">
                 <span>BEN ATWELL</span>
                 <span>POSITION: LIBRARY CLERK</span>
                 <span>JOINED 07/22/2025</span>
               </div>
            </div>

            <div class="staff-member">
               <div class="left-content">
                 <img src="{{ url_for('static', filename='profile/staff/img005.png') }}" alt="Staff member image">
               </div>
               <div class="right-content">
                 <span>BEN ATWELL</span>
                 <span>POSITION: LIBRARY PAGE</span>
                 <span>JOINED 07/22/2025</span>
               </div>
            </div>

            <div class="staff-member">
               <div class="left-content">
                 <img src="{{ url_for('static', filename='profile/staff/img005.png') }}" alt="Staff member image">
               </div>
               <div class="right-content">
                 <span>BEN ATWELL</span>
                 <span>POSITION: ADMINISTRATIVE ASSISTANT</span>
                 <span>JOINED 07/22/2025</span>
               </div>
            </div>

            <div class="staff-member">
               <div class="left-content">
                 <img src="{{ url_for('static', filename='profile/staff/img005.png') }}" alt="Staff member image">
               </div>
               <div class="right-content">
                 <span>BEN ATWELL</span>
                 <span>POSITION: COMPUTER TECHNICIAN</span>
                 <span>JOINED 07/22/2025</span>
               </div>
            </div>
            </div>

        </div>
     </div>
     <div class="main-card">
      <header>
        <h4>STAFF MANAGEMENT</h4>
        <div class="staff-search">
          <input type="text" name="search" placeholder="SEARCH">
          <button>&plus; ADD USER</button>
        </div>
      </header>
        <div class="card-headings">
         <ul>
           <li>ID</li>
           <li>NAME</li>
           <li>USERNAME</li>
           <li>E-MAIL</li>
           <li>ACTIVE</li>
           <li>ACTIONS</li>
        </ul>
        </div>
        <div class="card-body">
        <ul>
           <li><span></span>23</li>
           <li>ROBERT WATTS</li>
           <li>RWATT01234</li>
           <li>RWATT@EXAMPLE.NET</li>
           <li>YES</li>
           <li>VIEW</li>
           <li>EDIT</li>
           <li>DELETE</li>
        </ul>
         <ul>
           <li><span></span>23</li>
           <li>ROBERT WATTS</li>
           <li>RWATT01234</li>
           <li>RWATT@EXAMPLE.NET</li>
           <li>YES</li>
           <li>VIEW</li>
           <li>EDIT</li>
           <li>DELETE</li>
        </ul>
        <ul>
           <li><span></span>23</li>
           <li>ROBERT WATTS</li>
           <li>RWATT01234</li>
           <li>RWATT@EXAMPLE.NET</li>
           <li>YES</li>
           <li>VIEW</li>
           <li>EDIT</li>
           <li>DELETE</li>
        </ul>
         <ul>
           <li><span></span>23</li>
           <li>ROBERT WATTS</li>
           <li>RWATT01234</li>
           <li>RWATT@EXAMPLE.NET</li>
           <li>YES</li>
           <li>VIEW</li>
           <li>EDIT</li>
           <li>DELETE</li>
        </ul>
         <ul>
           <li><span></span>23</li>
           <li>ROBERT WATTS</li>
           <li>RWATT01234</li>
           <li>RWATT@EXAMPLE.NET</li>
           <li>YES</li>
           <li>VIEW</li>
           <li>EDIT</li>
           <li>DELETE</li>
        </ul>
         <ul>
           <li><span></span>23</li>
           <li>ROBERT WATTS</li>
           <li>RWATT01234</li>
           <li>RWATT@EXAMPLE.NET</li>
           <li>YES</li>
           <li>VIEW</li>
           <li>EDIT</li>
           <li>DELETE</li>
        </ul>
        <span><a href="">LOAD MORE &gt;&gt;</a></span>
        </div>
       </div>
   </div>
</div>
{% endblock %}
