/* Global */

* {
padding: 0;
margin: 0;
}

html {
box-sizing: border-box;
}


:root {
--backgroundColor: #F4F1EB;
--cardBackground: #fff;
--signinButtonColor: #F0ECE7;
--formFieldTextColor: #4D4D4D;
--formFieldBorderColor: #E4E4E4;
--accentColor: #333;
}


body {
background: var(--backgroundColor);
}

ul li,
menu li {
list-style-type: none;
}

.top {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
height: 75px;
margin-bottom: 75px;
}

.logotype {
width: 15%;
text-align: center;
margin-top: 25px;
}

.logotype h2 a {
font: 900 0.8em "Alexandria", sans-serif;
color: #000;
text-decoration: none;
}

.staff-menu {
width: 35%;
margin-top: 25px;
}

.staff-menu menu li {
display: inline;
align-items: center;
justify-content: center;
margin-right: 20px;
}

.staff-menu menu li a {
color: #1e1e1e;
font: 600 0.8em "Cousine", sans-serif;
text-decoration: none;
}

.patrons-menu {
width: 75px;
height: 100vh;
border-right: 1px solid rgba(77,77,77, 0.3);
margin-right: 75px;
}

.patrons-menu menu {
width: 45%;
height: auto;
margin: 85px auto 0 auto;
}

.patrons-menu menu li {
margin: 35px 0;
}

.patrons-menu menu li a {
color: #1e1e1e;
font-size: 1.4em;
}

.patrons-container {
display: flex;
flex-direction: row;
}




.left-content {}
.right-content {}



.add-button {}
.favorite-button {}
.row-content {}
.card-content {}
.main-card {}
.history-card {}
.left-card {}


/*  Menus */
.staff-menu {}
.patrons-menu {}


/* Dashboard */


.dashboard {
width: 100%;
height: 100%;
padding-bottom: 50px;
}

.dashboard-header {
width: 90%;
height: auto;
margin: 85px auto 0 auto;
}

.dashboard-header header {
width: 100%;
height: 60px;
background: #E4E4E4;
border: 1px solid rgba(77,77,77,0.2);
border-radius: 8px;
}

.dashboard-header header div ul {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
margin-top: 15px;
}

.dashboard-header header div ul:nth-child(even) {
margin-top: 0;
}

.dashboard-header header div ul:nth-child(odd) li {
 font: 700 0.9em "Cousine", sans-serif;
}

.dashboard-header header div ul li {
 font: 300 0.9em "Cousine", sans-serif;
}

.row-content {
width: 90%;
height: auto;
display: flex;
flex-direction: row;
margin: 0 auto;
padding: 25px 0;
}

.left-card {
width: 37%;
height: 353px;
background: #333;
border-radius: 25px;
padding: 10px;
}

.left-card header {
margin: 40px 10px 10px 10px;
}

.left-card header span {
font: 400 1.1em "Cousine", sans-serif;
color: #F4F1EB;
}

.left-card header select {
font: 300 0.7em "Cousine", sans-serif;
color: #EEE9CC;
background: transparent;
border-radius: 3px;
padding: 2px;
width: 175px;
margin-left: 15px;
outline: transparent;
}

.card-content ul:first-of-type {
margin-top: 25px;
}

.card-content ul {
margin: 8px 0 5px 10px;
}

.card-content ul li {
font: 300 0.8em "Cousine", sans-serif;
color: #F4F1EB;
padding: 5px 0 0 0;
}

.left-card .card-content ul li:nth-child(even) {
font: 300 0.8em "Cousine", sans-serif;
color: #F4F1EB;
border-bottom: 0.1px dashed rgba(221,219,219,0.4);
padding: 5px 0 10px 0;
}

.left-card .last,
.card-content .last
{
border-bottom: none !important;
}

.main-card {
width: 97%;
height: 370px;
border-radius: 25px;
margin-left: 25px;
background: #4D4D4D;
}

.main-card .card-content {
width: 95%;
margin: 50px auto;
}

.main-card .card-content ul li {
font: 300 0.8em "Cousine", sans-serif;
color: #E4E4E4;
border-bottom: 0.1px dashed rgba(221,219,219,0.4);
padding: 15px 0;
}

.main-card .card-content ul li span {
font: 300 0.9em "Cousine", sans-serif;
color: #EEE9CC;
float: right;
margin-right: 25px;
}


/* report */

.report-card {
width: 83%;
height: 365px;
background: #000;
border-radius: 25px;
margin: 0 auto 0 auto;
padding: 0 50px;
}

.report-card header {
display: flex;
flex-direction: row;
justify-content: space-between;
color: #fff;
width: 100%;
height: auto;
padding: 25px;
}

.report-card h4,
.catalog h4 {
font: 400 1.1em "Cousine", sans-serif;
color: #F4F1EB;
width: 25%;
margin: 10px 0 0 10px;
}

.report-card h4 {
margin: 30px 0 0 -30px !important;
}

.report-card header ul {
margin: 30px 25px 0 0;
}

.report-card header ul li,
.catalog ul li {
font: 300 0.9em "Cousine", sans-serif;
display: inline;
margin-right: 25px;
color: #fff;
width: 100%;
cursor: pointer;
}

.report-card header ul li:first-of-type {
background: #D9D9D9;
color: #1e1e1e;
border-radius: 5px;
padding: 5px 15px;
}



/*  Catalog */

.catalog {
width: 90%;
height: 385px;
background: #000;
border-radius: 25px;
margin: 0 auto;
}

.catalog-menu  {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background:#fafafa;
border: 1px solid rgba(221,219,219,0.9);
border-radius: 25px;
color: #fff;
width: 90%;
height: 50px;
margin: 0 auto 15px auto;
padding: 15px 0;
}

.catalog-menu input::placeholder {
padding-left: 5px;
color: #1e1e1e;
}

.catalog-menu input {
width: 20%;
height: 35px;
background: transparent;
border: 1px solid #1e1e1e;
color: #1e1e1e;
border-radius: 8px;
outline: none;
margin-right: 25px;
}

.catalog-menu select {
width: 20%;
height: 35px;
background: transparent;
border: 1px solid #1e1e1e;
border-radius: 8px;
color: #1e1e1e;
outline: transparent;
text-transform: uppercase;
margin-right: 25px;
}

.catalog-menu select option {
background: #1e1e1e;
border: 1px solid #C2C2C2;
color: #EEE9CC;
}

#add-book {
width: 135px;
height: 35px;
border-radius: 8px;
cursor: pointer;
}

.catalog header {
width: 100%;
height: 50px;
padding: 10px 0;
}

.catalog h4 {
font: 400 1.1em "Cousine", sans-serif;
margin: 30px 0 0 50px;
}

.catalog ul li {
display: flex;
justify-content: space-around;
font: 300 0.8em "Cousine", sans-serif;
margin-right: 25px;
padding: 10px 0;
color: #fff;
width: 100%;
cursor: pointer;
}

.catalog span  {
float: right;
margin: 15px 50px 0 0;
}

.catalog span a {
font: 300 0.7em "Cousine", sans-serif;
color: #fff;
}



.row-content.catalog {}
.catalog.card {}



/*  Staff */
.staff-member {}
.staff-member.active {}
.staff-search {}





/* Favorites  */


/* Messages  */
.message-card {}
.message-content {}
.sender-profile {}
.message {}


/* Reservation  */

.reservation-card {}
.catalog-card.reserve {}
.checkout-details {}



/* Confirmation */



/* Settings */
.library-settings-card {}



/* Patrons */
.checkout {}
.returned {}

.left-card.patrons {
height: 400px;
}

.left-card.patrons img {
display: block;
width: 128px;
height: 128px;
margin: -15px auto 0 auto;
}

.patrons-profile span:first-of-type {
display: block;
position: relative;
top: -25px;
left: 175px;
width: 25px;
height: 25px;
border-radius: 25px;
line-height: 1.7em;
background: #000;
text-align: center;
cursor: pointer;
}

.patrons-profile span:last-of-type {
display: block;
width: 40%;
font: 300 1em "Cousine", sans-serif;
color: #fff;
margin: -15px auto 15px auto;
}

.left-card.patrons header ul li {
font: 300 0.8em "Cousine", sans-serif;
color: #F4F1EB;
border-bottom: 0.1px dashed rgba(221,219,219,0.4);
padding: 5px 0 10px 0;
cursor: pointer;
}

.main-card.history {
padding: 25px 50px;
width: 100%;
}

.main-card header {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
margin: 20px auto 40px auto;
}

.main-card h4 {
font: 400 1.3em "Cousine", sans-serif;
color: #F4F1EB;
width: 45%;
margin: 5px 0 0 0;
}

.main-card header input::placeholder {
padding-left: 5px;
color: #EEE9CC;
}

.main-card header input {
width: 20%;
height: 30px;
background: transparent;
border: 1px solid #EEE9CC;
font: 300 0.8em "Cousine", sans-serif;
color: #EEE9CC;
border-radius: 8px;
margin-left: 15px;
outline: none;
}

.main-card header ul {
display: flex;
align-items: center;
width: 45%;
margin-bottom: 5px;
}

.main-card header ul li {
display: inline-block;
font: 300 0.8em "Cousine", sans-serif;
color:  #EEE9CC;
width: 110px;
height: 32px;
margin-left: 25px;
line-height: 2.7em;
border: 1px solid #EEE9CC;
border-radius: 8px;
text-align: center;
cursor: pointer;
}

.card-headings ul,
.card-body ul {
display: flex;
flex-direction: space-around;
width: 100%;
}

.card-headings ul li,
.card-body ul li {
font: 300 0.7em "Cousine", sans-serif;
margin-right: 25px;
padding: 5px 0;
color: #fff;
width: 100%;
}

.card-body {
margin: 10px auto 0 auto;
padding: 3px 0;
width: 100%;
}

.card-body ul {
padding: 3px 0;
border-bottom: 0.1px dashed rgba(221,219,219,0.4);
width: 100%;
}

.card-body ul:first-of-type {
margin-top: 5px;
}

.card-headings {
margin: 10px auto 0 auto;
color: #fff;
width: 100%;
}

.card-body span  {
float: right;
margin: 15px 50px 0 0;
}

.card-body span a {
font: 300 0.7em "Cousine", sans-serif;
color: #fff;
}





/* Popup windows */
