<div class="modal">
  <h2>ADD STAFF</h2>
  <form method="POST">
    <input type="text" name="name" placeholder="NAME">
    <input type="text" name="username" placeholder="USERNAME">
    <input type="email" name="email" placeholder="E-MAIL">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="file" name="staff-photo" id="staff-photo" hidden>
    <label for="staff-photo">UPLOAD IMAGE</label>
    <input type="submit" value="SAVE">
  </form>
</div>
