{% extends 'base.j2' %}
{% block content %}
  <form method="POST">
    <h3>CREATE ACCOUNT</h3>
     <input type="text" name="firstname" placeholder="First name">
     <input type="text" name="lastname" placeholder="Last name">
     <input type="email" name="email" placeholder="E-mail">
     <input type="password" name="password" placeholder="Password">
     <input type="password" name="confirm-password" placeholder="Confirm password">
     <input type="submit" name="signup" value="Register">
     <span>Already have an account?<a href="{{ url_for('index') }}">Sign in</a></span>
  </form>
{% endblock %}
