<div class="badge-card">
  <div class="profile-switcher">
  <img src="https://i.pravatar.cc/150?img=59" alt="placeholder image for user">
  <h2>Name here</h2>
  </div>
  <ul>
   <li id="last-active">Last Active: 09/20/2025</li>
  </ul>
</div>
