<div class="profile-card">
 <h2>PROFILE</h2>
 <label>CHANGE USERNAME</label>
 <input type="text" name="username" placeholder="NEW USERNAME" required>
 <label>CHANGE EMAIL ADDRESS</label>
 <input type="email" name="email" placeholder="NEW E-MAIL ADDRESS" required>
 <label>CHANGE PASSWORD</label>
 <input type="password" name="password" placeholder="NEW PASSWORD" required>
 <input type="submit" value="SAVE">
</div>
