<nav>
 <menu>
   <li><a href="/admin/catalog">&plus; CATALOG</a></li>
   <li><a href="/admin/patrons">PATRONS</a></li>
   <li><a href="/admin/desk">DESK</a></li>
   <li><a href="/admin/settings">SETTINGS</a></li>
   <li><a href="/admin/logout">LOGOUT</a></li>
 </menu>
 </nav>
