<nav>
 <menu>
   <li><a href="">&plus; CATALOG</a></li>
   <li><a href="">PATRONS</a></li>
   <li><a href="">DESK</a></li>
   <li><a href="">SETTINGS</a></li>
   <li><a href="">LOGOUT</a></li>
 </menu>
 </nav>
