<div class="popular-items">
  <header>
    <h2>POPULAR TITLES</h2>
    <select name="checkout-date-filter">
      <option value="last 30 days">LAST 30 DAYS</option>
      <option value="3 months ago">3 MONTHS AGO</option>
      <option value="6 months ago">6 MONTHS AGO</option>
      <option value="this year">THIS YEAR</option>
      <option value="previous year">LAST YEAR</option>
    </select>
  </header>
  <div class="popular-item-list">
    <p>NO TITLES ADDED<p>
  </div>
</div>
