<div class="dashboard-stats">
  <div class="dashboard-flex">
   <% if request.path_info == '/dashboard' %>
    <div class="dashboard-stat">
     <p>PATRONS</p>
     <p>0</p>
   </div>
   <div class="dashboard-stat">
     <p>SIGNED IN</p>
     <p>0</p>
   </div>
   <div class="dashboard-stat">
     <p>BOOKS</p>
     <p>0</p>
   </div>
   <div class="dashboard-stat">
     <p>BORROWED</p>
     <p>0</p>
   </div>
   <div class="dashboard-stat">
     <p>RETURNED</p>
     <p>0</p>
   </div>
   <% end %>
   <% if request.path_info == '/desk' %>
     <div class="dashboard-stat">
       <p>STAFF</p>
       <p>0</p>
     </div>
     <div class="dashboard-stat">
      <p>SIGNED IN</p>
      <p>0</p>
    </div>
    <div class="dashboard-stat">
      <div class="dashboard-flex">
         <img src="https://i.pravatar.cc/150?img=59" alt="placeholder image for user" width="32" height="32">
         <div>
            <p>Ben Atwell</p>
            <p>CREATED 07/22/2025</p>
          </div>
          <img src="https://i.pravatar.cc/150?img=59" alt="placeholder image for user" width="32" height="32">
          <div>
           <p>Ben Atwell</p>
           <p>CREATED 07/22/2025</p>
         </div>
         <img src="https://i.pravatar.cc/150?img=59" alt="placeholder image for user" width="32" height="32">
         <div>
          <p>Ben Atwell</p>
          <p>CREATED 07/22/2025</p>
        </div>
      </div>

   </div>
   <% end %>
 </div>
</div>
