<div class="dashboard-stats">
  <div class="dashboard-flex">
   <div class="dashboard-stat">
   <% if request.path_info == '/dashboard' %>
     <p>PATRONS</p>
     <p>0</p>
   </div>
   <div class="dashboard-stat">
     <p>SIGNED IN</p>
     <p>0</p>
   </div>
   <div class="dashboard-stat">
     <p>BOOKS</p>
     <p>0</p>
   </div>
   <div class="dashboard-stat">
     <p>BORROWED</p>
     <p>0</p>
   </div>
   <div class="dashboard-stat">
     <p>RETURNED</p>
     <p>0</p>
   </div>
   <% end %>

 </div>
</div>
